%header.row
  .col-md-2.page-offset
    %h2 Businesses
%section.row
  .col-md-10#list-businesses
    = render @businesses
  .row
    .col-md-2.col-md-offset-5
      = link_to "More Businesses", businesses_path, remote: true, class: 'btn btn-large yelp-default-btn'
