.row#signup-form
  .col-md-4.col-md-offset-4
    = form_tag sign_in_path do
      .form-group
        %label.hidden Email
        = text_field_tag :email, nil, class: 'form-control',placeholder: 'Email'
      .form-group
        %label.hidden Password
        = password_field_tag :password, nil, class: 'form-control',placeholder: 'Password'

      = submit_tag "Sign Up", class: 'form-control', id: 'sign-up--in-submit-btn'
