.row
  .col-md-2.col-md-offset-5#new-business-btn
    = link_to "+ New Business", new_business_path, class: "btn btn-default yelp-main-btn-color"

#home_content.row
  %section.col-md-5.col-md-offset-2
    %header
      %h3 Recent Reviews
    - @reviews.each do
      .review.row
        .col-md-5.well
          %h4=link_to "Review Title"
          %p Review Content

  %section.col-md-5
    %header
      %h3 New Businesses
    - @businesses.each do
      .business.row
        .col-md-5.well
          #image-group
            = link_to "#" do
              = image_tag "", class:"business-image"
              .business-list-info
                %h4= link_to "Business Title", "#", class:"business-list-link"
                %h4 Rating
                %h4 Location
                -# Use collapse bootstrap js to make this nice later
