%section.col-md-5.col-md-offset-4
.row
  - 5.times do
    .section-header.col-md-offset-1
      %h3 Business Name
    .business-row.row
      .col-md-9.col-md-offset-1
        .business-type-list-photo
          = link_to "#" do
            = image_tag "", class:"business-image"
        .business-list-info
          %h4= link_to "Business Title", "#", class:"business-list-link"
          %h4 Rating
          %h4 Location
          -# Use collapse bootstrap js to make this nice later
