.business-list-info
  margin-top: -110px
  margin-left: 10px
  color: white
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray
  width: 228px
  height: 130px
  word-wrap: break-word

a > img.business-image
  height: 100%
  width: 100%

.business-list-link
  color: #FFFFFF
  border: 1px white

.business-row
  margin-bottom: 1em

.businesses-page-info

.page-offset
  margin-left: 25px
