.business-list-info
  margin-top: -90px
  margin-left: 10px

.business-image
  border-radius: 15px
  width: 150px
  height: 150px

.business-list-link
  color: #FFFFFF
  border: 1px white

.business-row
  margin-bottom: 25px
  height: 300px
