@import "colors"

#main-search-area
  margin-top: 4%


#top-header
  background-color: $yelp-clone-red
  height: 80px
  // /*width: 1300px
  // position: absolute

.main-search-input
  border: none
  font-weight: normal
  /*position: relative*/


#login-register
  margin-top: 2%


#register-btn
  background-color: $yelp-clone-red
  font-weight: bold
  border: none
  &:hover
    background-color: $dark-red-yelp



#login-btn, #search-btn
  background-color: #CC0000
  font-weight: bold
  &:hover
    background-color: $dark-red-yelp
