#main-search-area
  margin-top: 4%


#top-header
  background-color: #CD5C5C
  height: 80px
  // /*width: 1300px
  // position: absolute

.main-search-input
  border: none
  font-weight: normal
  /*position: relative*/


#login-register
  margin-top: 2%


#register-btn
  background-color: #CD5C5C
  font-weight: bold
  border: none


#login-btn, #search-btn
  background-color: #CC0000
  font-weight: bold


#register-btn:hover, #login-btn:hover, #search-btn:hover
  background-color: #BB0000
