#main-search-area
  margin-top: 4%

#top-header
  background-color: $yelp-clone-red
  height: 80px

#user-menu
  margin-top: 30px

.main-search-input
  border: none
  font-weight: normal

#dropdown-link, #user-dropdown .dropdown-button
  color: white
  text-decoration: none
  &:hover
    background-color: $yelp-clone-red
    text-decoration: none

#user-dropdown, #user-dropdown .dropdown-button
  background-color: $dark-red-yelp
  border: none
  &:hover, &:focus
    background-color: $dark-red-yelp

#user-dropdown .dropdown-button:hover
  background-color: $yelp-clone-red

#signin-register
  margin-top: 5%

#register-btn
  background-color: $yelp-clone-red
  color: #FFFFFF
  border: none
  &:hover, &:active
    background-color: $dark-red-yelp
    color: #FFFFFF
  &:focus
    color: #FFFFFF


#signin-btn, #search-btn, #register-btn
  font-weight: bold
